asgiref==3.11.1
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
Django==6.0.4
django-restframework==0.0.1
djangorestframework==3.17.1
greenlet==3.4.0
idna==3.11
joblib==1.5.3
nltk==3.9.4
playwright==1.58.0
psycopg==3.3.3
psycopg2==2.9.11
pyee==13.0.1
python-decouple==3.8
regex==2026.4.4
requests==2.33.1
soupsieve==2.8.3
sqlparse==0.5.5
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3